<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Most Starred Github Repos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item *ngFor="let repo of repos">
            <p>{{ repo.name }} ({{ repo.stargazers_count }})</p>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="loadRepos($event)">
          <ion-infinite-scroll-content loadingText="Loading more repos...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
